<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet"
  		th:ref="@{/static/css/style.css}" />
  <title>Home Page</title>
</head>

<body>

	<div class="background" >
	
		<form th:action = "@{/1}">	
		    <select th:name="neighbourhoodIn">
		     	<option value="0">Select</option>
		 		<option th:each="option : ${neighbourhoodOptions}" th:value="${option.id}" th:text="${option.city.name} + ', ' + ${option.name}"></option>
		    </select>

		    <button type="submit" >Search</button>
		</form>
		<br>
		
		<form th:action = "@{/2}" th:name=agencyIn>	
		   
		    <input type="text" th:name=agencyIn/>
		    
		    <button type="submit" >Search</button>
		</form>
		
		<p th:text="'Minimum price in selected neighbourhood is ' + ${neighbourhood}" class="text" />
	  
		<p th:text="'Minimum price in selected city is ' + ${city}" class="text" />
		
		<p th:text="'Minimum price in selected agency is ' + ${agency}" class="text" />

		<p th:text="${minPrice} + ' :: ' + ${avgPrice} + ' :: ' + ${maxPrice}"/>

	</div>
	
</body>

</html>